[submodule "generation/HippoRAG2/HippoRAG"]
	path = generation/HippoRAG2/HippoRAG
	url = https://github.com/OSU-NLP-Group/HippoRAG.git

[submodule "generation/MemAgent/MemAgent_src"]
	path = generation/MemAgent/MemAgent_src
	url = https://github.com/BytedTsinghua-SIA/MemAgent.git
[submodule "generation/zep/graphiti"]
	path = generation/zep/graphiti
	url = https://github.com/getzep/graphiti.git
